<form [formGroup]="addTaskForm" (ngSubmit)="onNewTask()">
  <div mat-dialog-content>
    <p>Add new task</p>
    <mat-form-field appearance="fill" class="input-width">
      <input matInput formControlName="taskDetail" placeholder="New Task *" />
    </mat-form-field>
    <mat-form-field appearance="fill" class="input-width">
      <textarea
        matInput
        placeholder="Description (Optional)"
        formControlName="taskDescription"
      ></textarea>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input
        matInput
        [matDatepicker]="picker"
        [min]="todaysDate"
        placeholder="Choose a Date"
        formControlName="taskSchedule"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()">Cancel</button>
    <button
      mat-button
      type="submit"
      color="primary"
      [disabled]="!addTaskForm.valid"
    >
      Add
    </button>
  </div>
</form>
