<section>
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    [formGroup]="loginForm"
    (ngSubmit)="onLogin()"
  >
    <mat-form-field>
      <input
        type="email"
        matInput
        placeholder="Email"
        formControlName="email"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        type="password"
        matInput
        placeholder="Password"
        formControlName="password"
        minlength="8"
      />
    </mat-form-field>
    <button
      mat-raised-button
      [disabled]="!loginForm.valid"
      color="primary"
      type="submit"
    >
      Log in
    </button>
  </form>
</section>
